<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        <input type="email" placeholder="Enter email" name="email"/>
        <input type="text" placeholder="Enter Password" name="password"/>
       
        <button> Verify</button>
    </form>
</body>
</html>